.avatar {
  display: grid;
  place-items: center;
  flex: none;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: var(--radius-full);
  color: var(--color-text-inverse);
  font-weight: 700;
  font-size: var(--text-base);
  user-select: none;
}

.small {
  width: 2rem;
  height: 2rem;
  font-size: var(--text-sm);
}
